.product {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  color: rgb(77, 73, 73);
  border-radius: 5px;
  width: 280px;
}
.productHeader {
  height: 270px;
}
.productFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: rgb(52, 196, 107);
}
.mainButton {
}
